<div>


<div class="toolb">
    <p-toolbar styleClass="mb-1">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="Nueva" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="showDialog()"  ></button>
                <p-toast position="top-center"></p-toast>

            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" ></button>
        </ng-template>
    </p-toolbar>
</div>

<p-card>
    <div class="p-inputgroup mb-3" style="max-width: 300px; ">
        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
        <input type="text" pInputText placeholder="Buscar cotizacion por ID " (input)="applyFilterGlobal($event, dtCotizacion)">
    </div>
    <p-table [value]="cotizaciones" [tableStyle]="{ 'min-width': '40rem' }"
    #dtCotizacion dataKey="id" [globalFilterFields]="['id']" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Cotizaciones
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Ubicación de contacto</th>
                <th>Ubicación de termino</th>
                <th>Estatus</th>
                 <th>Enviar cotizacion</th>
                 <th>Completar</th>
                 <th>Eliminar</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cotizacion>
            <tr>
                <td>{{cotizacion.id}}</td>
                <td>{{cotizacion.ubicacionContacto}}</td>
                <td>{{cotizacion.ubicacionTermino}}</td>
                <td>{{cotizacion.estado}}</td>

                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-whatsapp" class="p-button-rounded p-button-success mr-2"
                           ></button>
                    </div>
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-primary mr-2"
                       (click)="confirmServicio()" ></button>
                    </div>
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-secondary mr-2"
                       (click)="confirmFinishCotizacion(cotizacion)" ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">

            </div>
        </ng-template>
    </p-table>
</p-card>

<p-dialog [(visible)]="cotizacionDialog" [style]="{ width: '900px', height: '600px' }" header="Datos cotización" [modal]="true" >
    <ng-template pTemplate="content">
        <div class="p-fluid">
            <form [formGroup]="cotizacionForm" class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label for="ubiContact">Ubicación de contacto</label>
                    <input type="text" pInputText id="ubiContact" formControlName="ubicacionContacto" required minlength="2" maxlength="22" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="ubiTermino">Ubicación de termino</label>
                    <input type="text" pInputText id="ubiTermino" formControlName="ubicacionTermino" minlength="2" maxlength="22" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="monto">Monto a cobrar</label>
                    <input type="number" pInputText id="monto" formControlName="monto" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="numTe">Número de teléfono</label>
                    <input type="text" pInputText pKeyFilter="int" id="numTe" formControlName="numTelefono" required maxlength="10" minlength="10" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="tipoV">Tipo de vehículo</label>
                    <p-dropdown [options]="tiposVehiculo" placeholder="Selecciona" optionLabel="nombre" formControlName="tipoVehiculo" [editable]="true"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="marca">Marca</label>
                    <p-dropdown [options]="marcas" [(ngModel)]="selectedMarca" (onChange)="filtrarModelosPorMarca()" placeholder="Selecciona una Marca" optionLabel="nombre" formControlName="marca" [editable]="true"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="modelo">Modelo</label>
                    <p-dropdown [options]="modelosFiltrados" [(ngModel)]="selectedModelo" placeholder="Selecciona un Modelo" optionLabel="nombre" formControlName="modelo" [editable]="true"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="placas">Placas</label>
                    <input type="text" pInputText id="placas" formControlName="placas" minlength="6" maxlength="7" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="serie">Serie</label>
                    <input type="text" pInputText id="serie" formControlName="serie" minlength="17" maxlength="17" pKeyFilter="alphanum" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="color">Color</label>
                    <input type="text" pInputText id="color" formControlName="color" minlength="3" maxlength="10" pKeyFilter="alpha" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="ano">Año</label>
                    <input type="text" pInputText pKeyFilter="int" id="ano" formControlName="ano" maxlength="4" minlength="4" />
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="poliza">No Poliza</label>
                    <input type="text" pInputText id="poliza" formControlName="poliza" minlength="8" maxlength="10" pKeyFilter="int" />
                </div>
            </form>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cotizacionDialog = false"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="onConfirmCotizacion()" ></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="finishCotizacionDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="iconDelete">
            <i class="pi pi-exclamation-triangle " style="font-size: 2rem"></i>
        </div>
        <span >Está seguro de continuar ?</span>

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="finishCotizacionDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="finCotizacion()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="confirmacionServicioDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="iconDelete">
            <i class="pi pi-exclamation-triangle " style="font-size: 2rem"></i>
        </div>
        <span >Está seguro de continuar ?</span>

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="confirmacionServicioDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="navigateToServicio()"></button>
    </ng-template>
</p-dialog>


</div>