<div class="card">
    <p-menubar [model]="items"></p-menubar>
</div>
<div *ngIf="router.url === '/principal/servicios'" class="tableServices">
    <p-table [value]="servicios" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Servicios
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Folio</th>
                <th>Ubicación de salida</th>
                <th>Ubicación de contacto</th>
                <th>Ubicación de termino</th>
                <th>Estatus</th>
                <th>Editar</th>
                <th>Finalizar</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-servicio>
            <tr>
                <td>{{ servicio?.folioServicio }}</td>
                <td>{{ servicio?.ubicacionSalida }}</td>
                <td>{{ servicio?.ubicacionContacto }}</td>
                <td>{{ servicio?.ubicacionTermino }}</td>
                <td>{{ servicio?.estadoServicio }}</td>

                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                            (click)="editOperador()"></button>
                    </div>
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success mr-2"
                            (click)="confirmFinishServicio(servicio)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">

            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="updateDialog" [style]="{ width: '900px' }" header="Editar servicio" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid p-fluid">

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="updateDialog = false"></button>
        <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteServicioDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <span *ngIf="servicioFinalizado">Esta seguro que quiere finalizar el servicio ?</span>

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteServicioDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="finServicio()"></button>
    </ng-template>
</p-dialog>


<router-outlet></router-outlet>