
<div>

    <div class="card">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText placeholder="Buscar por folio"
                        [(ngModel)]="folio" />
                </span>
                <p-button class="ml-5" label="Buscar"
                    (click)="buscarServicio()" />

            </div>

        </p-toolbar>
    </div>

    <div>
        <p-card>

            <p-table *ngIf="servicio != null" [value]="servicios"
                [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template pTemplate="caption">
                    <div
                        class="flex align-items-center justify-content-between">
                        Servicios
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Folio</th>
                        <th>Ubicación de salida</th>
                        <th>Ubicación de contacto</th>
                        <th>Ubicación de termino</th>
                        <th>Estatus</th>
                        <th>Operador</th>
                        <th>Grua</th>
                        <th>Ver</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-servicio>
                    <tr>
                        <td>{{ servicio?.folioServicio }}</td>
                        <td>{{ servicio?.ubicacionSalida }}</td>
                        <td>{{ servicio?.ubicacionContacto }}</td>
                        <td>{{ servicio?.ubicacionTermino }}</td>
                        <td>
                            <p-tag [value]="servicio?.estadoServicio" [severity]="getSeverity(servicio?.estadoServicio)"></p-tag>
                        </td>
                        <td>{{ servicio?.operador?.nombre }}</td>
                        <td>{{ servicio?.grua?.noEco }}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-warning mr-2"
                                    (click)="abrirDialog()"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div
                        class="flex align-items-center justify-content-between">

                    </div>
                </ng-template>
            </p-table>
        </p-card>
    </div>

    <div class=" ml-8  justify-content-center	">

        <p-card *ngIf="verDialog && servicio != null" title="Vertical Grid Form"
            header="Datos del servicio"
            [style]="{ width: '900px', height: '550px' }" class="car ml-8	">
            <div class="grid">
                <!-- Datos del cliente -->
                <div class="col-12 md:col-6">
                    <h4>Datos del Cliente</h4>
                    <ul>
                        <li>Cliente: {{
                            servicio?.cliente?.clienteTipo?.nombreCliente
                            }}</li>
                        <li>Numero de telefono:
                            {{servicio?.cliente?.numTelefono}}</li>
                        <!-- Agrega más detalles del cliente según sea necesario -->
                    </ul>

                    <!-- Datos del vehículo -->
                    <h4>Datos del Vehículo</h4>
                    <ul>
                        <li>Tipo de vehículo:
                            {{servicio?.vehiculo?.tipoVehiculo?.nombre}}</li>
                        <li>Marca: {{ servicio?.vehiculo?.marca?.nombre }}</li>
                        <li>Modelo: {{ servicio?.vehiculo?.modelo?.nombre}}</li>
                        <li>Serie: {{ servicio?.vehiculo?.serie }}</li>
                        <li>Color: {{ servicio?.vehiculo?.color }}</li>
                        <li>Año: {{ servicio?.vehiculo?.ano}}</li>
                        <!-- Agrega más detalles del vehículo según sea necesario -->
                    </ul>
                </div>

                <!-- Datos del servicio -->
                <div class="col-12 md:col-6">
                    <h4>Datos del Servicio</h4>
                    <ul>
                        <li>Ubicación de salida: {{ servicio.ubicacionSalida
                            }}</li>
                        <li>Ubicación de contacto: {{ servicio.ubicacionContacto
                            }}</li>
                        <li>Ubicación de termino: {{ servicio.ubicacionTermino
                            }}</li>
                        <li>Monto cobrado: {{ servicio.montoCobrado }}</li>
                        <li>Operador: {{ servicio?.operador?.nombre }}</li>
                        <li>Grua: {{ servicio?.grua?.noEco}}</li>
                        <li>observaciones: {{ servicio.observaciones }}</li>
                    </ul>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <p-button label="Cerrrar" icon="pi pi-check"
                    (click)="cerrarDialog()"
                    [style]="{ 'margin-left': '.5em' }"></p-button>

            </ng-template>

        </p-card>
    </div>

</div>
<p-toast position="top-center"></p-toast>
