<div>
    <div class="col-12">
        <div >
            <div class="toolb">
                <p-toolbar styleClass="mb-1">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="showDialog()"></button>
                            <p-toast position="top-center"></p-toast>

                        </div>
                    </ng-template>

                    <ng-template pTemplate="right">
                        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="exportarExcel()"></button>
                    </ng-template>
                </p-toolbar>
            </div>

            <p-table *ngIf="!listaVacia" [value]="gruas" [tableStyle]="{ 'min-width': '60rem' }"   [paginator]="true"
            [rows]="5">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Grúas
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>NoEco</th>
                        <th>Placa</th>
                        <th>Serie</th>
                        <th>Kilometraje</th>
                        <th>Estatus</th>
                        <th>Editar/Eliminar</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-grua>
                    <tr>
                        <td>{{ grua.noEco }}</td>
                        <td>{{grua.placa }}</td>
                        <td>{{ grua.serie }}</td>
                        <td>{{ grua.kilometraje}}</td>
                        <td>
                            <p-tag [value]="obtenerEstatusGrua(grua.noEco)"
                            [severity]="getSeverity( obtenerEstatusGrua(grua.noEco))"></p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editGrua(grua)"></button>
                                <button [disabled]="obtenerEstatusGrua(grua.noEco) == 'Ocupada'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteGrua(grua)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Total de grúas: <b>{{ gruas.length }}</b>
                    </div>
                </ng-template>
            </p-table>

            <div class="vacia" *ngIf="listaVacia">
                <div class="p-3 mb-2 bg-dark text-white text-center">
                    <h4>{{listaVacia}}</h4>
                </div>
            </div>

        </div>

        <p-dialog [(visible)]="gruaDialog" [style]="{ width: '470px' }" header="Datos de la grua" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-grid p-fluid">
                    <form [formGroup]="gruaForm">

                        <!-- Primera columna -->
                        <div class="p-col-6">
                            <div class="field">
                                <label for="placa">Placa<span class="required-asterisk">*</span></label>
                                <input type="text" pInputText id="placa" formControlName="placa" required autofocus minlength="5" maxlength="10" />
                                <small *ngIf="submitted && !grua.placa " style="color: red;">Placa es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="serie">Serie<span class="required-asterisk">*</span></label>
                                <input type="text" pInputText id="serie" formControlName="serie" required required minlength="17" maxlength="17" pattern="^[A-Za-z0-9]+$" />
                                <small *ngIf="submitted && !grua.serie " style="color: red;">Serie es requerido.</small>
                                <small *ngIf="submitted && gruaForm.controls['serie'].errors?.['pattern']" style="color: red;">La serie no debe contener puntos,comas o espacios.</small>


                            </div>
                            <div class="field">
                                <label for="permiso">No Permiso <span class="required-asterisk">*</span></label>
                                <input type="text" pInputText id="permiso" formControlName="noPermiso" required minlength="24" maxlength="25" pattern="^[A-Za-z0-9]+$" />
                                <small *ngIf="submitted && !grua.noPermiso " style="color: red;">No Permiso es requerido.</small>
                                <small *ngIf="submitted && gruaForm.controls['noPermiso'].errors?.['pattern']" style="color: red;">El No permiso no debe contener puntos,comas o espacios.</small>

                            </div>
                            <div class="field">
                                <label for="aseguradora">Aseguradora</label>
                                <input type="text" pInputText id="aseguradora"
                                    formControlName="aseguradora" required  minlength="4" maxlength="18" />
                                <small *ngIf="submitted && !grua.aseguradora " style="color: red;">Aseguradora es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="poliza">No Poliza</label>
                                <input type="text" pInputText id="poliza" formControlName="noPoliza" required  minlength="10" maxlength="13" pKeyFilter="int" />
                                <small *ngIf="submitted && !grua.noPoliza " style="color: red;">No Poliza es requerido.</small>

                            </div>
                            
                        </div>
                        <!-- Segunda columna -->
                        <div class="p-col-6">
                            
                            <div class="field">
                                <label for="año">Año<span class="required-asterisk">*</span></label>
                                <p-inputNumber id="año" formControlName="ano" [maxlength]="4"
                                    [minlength]="4" [useGrouping]="false"></p-inputNumber>
                                <small *ngIf="submitted && !grua.ano " style="color: red;">Año es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="salida">Kilometraje<span class="required-asterisk">*</span></label>
                                <p-inputNumber id="salida" formControlName="kilometraje" [maxlength]="6"
                                    [minlength]="6" [useGrouping]="false"></p-inputNumber>
                                <small *ngIf="submitted && !grua.kilometraje " style="color: red;">Kilometraje es requerido.</small>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>


            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="registrarGrua()"></button>
            </ng-template>

        </p-dialog>




        <p-dialog [(visible)]="deleteGruaDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex flex-column align-items-center justify-content-center">
                <div class="iconDelete">
                    <i class="pi pi-exclamation-triangle " style="font-size: 2rem"></i>
                </div>
                <span *ngIf="grua">Esta seguro que quiere eliminar a <b>{{grua.placa}}</b>?</span>

            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteGruaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteGrua()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="updateDialog" [style]="{ width: '470px' }" header="Editar grua" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-grid p-fluid">
                    <form [formGroup]="gruaForm">

                        <!-- Primera columna -->
                        <div class="p-col-6">
                            <div class="field">
                                <label for="placa">Placa</label>
                                <input type="text" pInputText id="placa" formControlName="placa" [(ngModel)]="editingGrua.placa" required autofocus minlength="5" maxlength="10" />
                                <small *ngIf="submitted && !editingGrua.placa " style="color: red;">Placa es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="serie">Serie</label>
                                <input type="text" pInputText id="serie" formControlName="serie" [(ngModel)]="editingGrua.serie" required minlength="17" maxlength="17" pattern="^[A-Za-z0-9]+$" />
                                <small *ngIf="submitted && !editingGrua.serie " style="color: red;">Serie es requerido.</small>
                                <small *ngIf="submitted && gruaForm.controls['serie'].errors?.['pattern']" style="color: red;">La serie no debe contener puntos,comas o espacios.</small>

                            </div>
                            <div class="field">
                                <label for="permiso">No Permiso</label>
                                <input type="text" pInputText id="permiso" formControlName="noPermiso" [(ngModel)]="editingGrua.noPermiso" required minlength="24" maxlength="25" pattern="^[A-Za-z0-9]+$" />
                                <small *ngIf="submitted && !editingGrua.noPermiso " style="color: red;">No Permiso es requerido.</small>
                                <small *ngIf="submitted && gruaForm.controls['noPermiso'].errors?.['pattern']" style="color: red;">El No permiso no debe contener puntos,comas o espacios.</small>

                            </div>
                            <div class="field">
                                <label for="aseguradora">Aseguradora</label>
                                <input type="text" pInputText id="aseguradora"
                                    formControlName="aseguradora"   [(ngModel)]="editingGrua.aseguradora" required minlength="4" maxlength="18"  />
                                <small *ngIf="submitted && !editingGrua.aseguradora " style="color: red;">Aseguradora es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="poliza">No Poliza</label>
                                <input type="text" pInputText id="poliza" formControlName="noPoliza" required [(ngModel)]="editingGrua.noPoliza" minlength="10" maxlength="13" pKeyFilter="int" />
                                <small *ngIf="submitted && !editingGrua.noPoliza " style="color: red;">No Poliza es requerido.</small>

                            </div>
                            
                        </div>
                        <!-- Segunda columna -->
                        <div class="p-col-6">
                            
                            <div class="field">
                                <label for="año">Año</label>
                                <p-inputNumber id="año" formControlName="ano" [maxlength]="4"
                                    [minlength]="4" [useGrouping]="false"  [(ngModel)]="editingGrua.ano"></p-inputNumber>
                                <small *ngIf="submitted && !editingGrua.ano " style="color: red;">Año es requerido.</small>
                            </div>
                            <div class="field">
                                <label for="salida">Kilometraje</label>
                                <p-inputNumber id="salida" formControlName="kilometraje" [maxlength]="6"
                                    [minlength]="6" [useGrouping]="false" [(ngModel)]="editingGrua.kilometraje"></p-inputNumber>
                                <small *ngIf="submitted && !editingGrua.kilometraje " style="color: red;">Kilometraje es requerido.</small>
                            </div>
                    
                        </div>
                    </form>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="updateDialog = false"></button>
                <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                    (click)="editGruaConfirm()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>