<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-card-container">
        <p-card class="login-card">

          <form [formGroup]="form" (ngSubmit)="onLogin()">
            <div class="text-center mb-3">
              <img src="../../../assets/GVlogo.jpg" alt="Gruas Vesco logo" class="login-logo">
            </div>
            <p-header>
              <h2>Iniciar sesión</h2>
            </p-header>
            <div class="p-fluid">
              <label for="nombreUsuario">Nombre de Usuario</label>
              <div class="p-field">
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-user" />
                  <input  id="nombreUsuario" type="text" pInputText formControlName="nombreUsuario" class="p-inputtext-sm"/>
              </p-iconField>
              </div>
              <label for="password">Contraseña</label>
              <div class="p-field">
                  <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-key" />
                    <input  id="password" type="password" pInputText formControlName="password" class="p-password-sm"/>
                </p-iconField>

              </div>
            </div>
            <p-footer class="text-center">
              <div class="butonEntrar">
                <p-button label="Acceder" type="submit" icon="pi pi-sign-in" size="large" ></p-button>
              </div>

            </p-footer>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>