
<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-card-container">
        <p-card class="login-card">

          <form [formGroup]="form" (ngSubmit)="onLogin()">
            <div class="text-center mb-3">
              <img src="../../../assets/GVlogo.jpg" alt="Gruas Vesco logo" class="login-logo">
            </div>
            <p-header>
              <h2>Login</h2>
            </p-header>
            <div class="p-fluid">
              <div class="p-field">
                <label for="nombreUsuario">Nombre de Usuario</label>
                <input id="nombreUsuario" type="text" pInputText placeholder="Nombre usuario" formControlName="nombreUsuario" class="p-inputtext-sm">
              </div>
              <div class="p-field">
                <label for="password">Contraseña</label>
                <p-password id="password" placeholder="Password" formControlName="password" class="p-password-sm"></p-password>
              </div>
            </div>
            <p-footer class="text-center">

              <button pButton type="submit" label="Submit" class="p-button p-button-sm p-button-primary"></button>
            </p-footer>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>

