.login-card {
    margin-top: 2rem; /* Espacio superior para separarlo del borde superior */
  }
  
  .login-logo {
    width: 200px; /* Tamaño deseado de la imagen */
    display: block; /* Para centrar la imagen horizontalmente */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
    border-radius: 50%;
  }
  
  .login-card-container {
    max-width: 400px; /* Establece el ancho máximo de la tarjeta */
    width: 100%; /* Asegura que la tarjeta se ajuste al ancho máximo */
  }
  

  .butonEntrar{
    margin-top: 30px;
    margin-left: 200px;
  }