<div>
    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="toolb">
                <p-toolbar styleClass="mb-1">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="showDialog()"></button>
                            <p-toast position="top-center"></p-toast>

                        </div>
                    </ng-template>

                    <ng-template pTemplate="right">
                        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="exportarExcel()"></button>
                    </ng-template>
                </p-toolbar>
            </div>

            <p-table *ngIf="!listaVacia" [value]="operadores" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true"
                [rows]="5">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Operadores
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Número de teléfono</th>
                        <th>Estatus</th>
                        <th>Editar/Eliminar</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operador>
                    <tr>
                        <td>{{ operador.id }}</td>
                        <td>{{ operador.nombre }}</td>
                        <td>{{ operador.apellidoPaterno }}</td>
                        <td>{{ operador.apellidoMaterno }}</td>
                        <td>{{ operador.numTelefono }}</td>
                        <td>
                            <p-tag [value]="obtenerEstatusOperador(operador.id)"
                            [severity]="getSeverity( obtenerEstatusOperador(operador.id))"></p-tag>
                        </td>
                       
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editOperador(operador)"></button>
                                <button [disabled]="obtenerEstatusOperador(operador.id) == 'Ocupado'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                     (click)="deleteOperador(operador)" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Total de operadores: <b>{{ operadores.length }}</b>
                    </div>
                </ng-template>
            </p-table>

            <div class="vacia" *ngIf="listaVacia">
                <div class="p-3 mb-2 bg-dark text-white text-center">
                    <h2>{{listaVacia}}</h2>
                </div>
            </div>

        </div>

        <p-dialog [(visible)]="operadorDialog" [style]="{ width: '470px' }" header="Datos del operador" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-grid p-fluid">
                    <form [formGroup]="operadorForm">

                        <!-- Primera columna -->
                        <div class="p-col-6">
                            <div class="field">
                                <label for="name">Nombre</label>
                                <input type="text" pInputText id="name" formControlName="nombre" required autofocus
                                    pattern="^[A-Za-z\s]+$" minlength="3" maxlength="18" />
                                <small *ngIf="submitted && !operador.nombre " style="color: red;">Nombre es
                                    requerido.</small>
                                <small *ngIf="submitted && operadorForm.controls['nombre'].errors?.['pattern']"
                                    style="color: red;">El nombre no debe contener números.</small>

                            </div>
                            <div class="field">
                                <label for="paterno">Apellido paterno</label>
                                <input type="text" pInputText id="paterno" formControlName="apellidoPaterno" required
                                    pKeyFilter="alpha" minlength="3" maxlength="11" />
                                <small *ngIf="submitted && !operador.apellidoPaterno " style="color: red;">Apellido
                                    paterno es requerido.</small>
                            </div>
                            <div class="field">
                                <label for="materno">Apellido materno</label>
                                <input type="text" pInputText id="materno" formControlName="apellidoMaterno" required
                                    pKeyFilter="alpha" minlength="3" maxlength="11" />
                                <small *ngIf="submitted && !operador.apellidoMaterno " style="color: red;">Apellido
                                    materno es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="telefono">Número de teléfono</label>
                                <input type="text" pInputText pKeyFilter="int" id="telefono"
                                    formControlName="numTelefono" required maxlength="10" minlength="10" />
                                <small *ngIf="submitted && !operador.numTelefono " style="color: red;">Número de
                                    teléfono es requerido.</small>
                            </div>
                            <div class="field">
                                <label for="rfc">RFC</label>
                                <input type="text" pInputText id="rfc" formControlName="rfc" required
                                    pKeyFilter="alphanum" minlength="13" maxlength="13"
                                    pattern="^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" />
                                <small *ngIf="submitted && !operador.rfc " style="color: red;">RFC es requerido.</small>
                                <small *ngIf="submitted && operadorForm.controls['rfc'].errors?.['pattern']"
                                    style="color: red;">El RFC no es válido.</small>
                            </div>
                            <div class="field">
                                <label for="curp">CURP</label>
                                <input type="text" pInputText id="curp" formControlName="curp" required
                                    pKeyFilter="alphanum" minlength="18" maxlength="18" />
                                <small *ngIf="submitted && !operador.curp " style="color: red;">CURP es
                                    requerido.</small>
                            </div>
                        </div>
                        <!-- Segunda columna -->
                        <div class="p-col-6">
                            <div class="field">
                                <label for="nss">NSS</label>
                                <input type="text" pInputText id="nss" formControlName="nss" required />
                                <small *ngIf="submitted && !operador.nss " style="color: red;">NSS es requerido.</small>

                            </div>
                            <div class="field">
                                <label for="direc">Dirección</label>
                                <textarea id="direc" formControlName="direccion" pInputTextarea required rows="3"
                                    cols="20" minlength="10" maxlength="80"></textarea>
                                <small *ngIf="submitted && !operador.direccion " style="color: red;">Dirección es
                                    requerido.</small>
                            </div>
                            <div class="field">
                                <label for="cpostal">Código postal</label>
                                <p-inputNumber id="cpostal" formControlName="codigoPostal" [maxlength]="5"
                                    [minlength]="5" [useGrouping]="false"></p-inputNumber>
                                <small *ngIf="submitted && !operador.codigoPostal " style="color: red;">Código postal es
                                    requerido.</small>
                            </div>

                            <div class="field">
                                <label for="licencia">Licencia</label>
                                <input type="text" pInputText id="licencia" formControlName="licencia" required
                                    pKeyFilter="alphanum" minlength="10" maxlength="11" />
                                <small *ngIf="submitted && !operador.licencia " style="color: red;">Licencia es
                                    requerido.</small>
                            </div>

                        </div>
                    </form>
                </div>
            </ng-template>


            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="registrarOperador()"></button>
            </ng-template>

        </p-dialog>




        <p-dialog [(visible)]="deleteOperadorDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <div class="iconDelete">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                </div>
                <span *ngIf="operador">Esta seguro que quiere eliminar a <b>{{operador.nombre + ' '
                        +operador.apellidoPaterno+
                        '
                        '+
                        operador.apellidoMaterno}}</b>?</span>

            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteOperadorDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteOperador()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="updateDialog" [style]="{ width: '470px' }" header="Editar operador" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-grid p-fluid">
                    <form [formGroup]="operadorForm">

                        <!-- Primera columna -->
                        <div class="p-col-6">
                            <div class="field">
                                <label for="name">Nombre</label>
                                <input type="text" pInputText id="name" formControlName="nombre"
                                    [(ngModel)]="editingOperador.nombre" required autofocus pattern="^[A-Za-z\s]+$"
                                    minlength="3" maxlength="18" />
                                <small *ngIf="submitted && !editingOperador.nombre " style="color: red;">Nombre es
                                    requerido.</small>
                                <small *ngIf="submitted && operadorForm.controls['nombre'].errors?.['pattern']"
                                    style="color: red;">El nombre no debe contener números.</small>
                            </div>
                            <div class="field">
                                <label for="paterno">Apellido paterno</label>
                                <input type="text" pInputText id="paterno" formControlName="apellidoPaterno"
                                    [(ngModel)]="editingOperador.apellidoPaterno" required pKeyFilter="alpha"
                                    minlength="3" maxlength="11" />
                                <small *ngIf="submitted && !editingOperador.apellidoPaterno "
                                    style="color: red;">Apellido
                                    paterno es requerido.</small>
                            </div>
                            <div class="field">
                                <label for="materno">Apellido materno</label>
                                <input type="text" pInputText id="materno" formControlName="apellidoMaterno"
                                    [(ngModel)]="editingOperador.apellidoMaterno" required pKeyFilter="alpha"
                                    minlength="3" maxlength="11" />
                                <small *ngIf="submitted && !editingOperador.apellidoMaterno "
                                    style="color: red;">Apellido
                                    materno es requerido.</small>
                            </div>
                            <div class="field">
                                <label for="telefono">Número de teléfono</label>
                                <input type="text" pInputText id="telefono" formControlName="numTelefono"
                                    [(ngModel)]="editingOperador.numTelefono" required pKeyFilter="int" minlength="10"
                                    maxlength="10" />
                                <small *ngIf="submitted && !editingOperador.numTelefono " style="color: red;">Número de
                                    teléfono es requerido.</small>
                            </div>
                            <div class="field">
                                <label for="rfc">RFC</label>
                                <input type="text" pInputText id="rfc" formControlName="rfc"
                                    [(ngModel)]="editingOperador.rfc" required pKeyFilter="alphanum" minlength="13"
                                    maxlength="13"
                                    pattern="^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" />
                                <small *ngIf="submitted && !editingOperador.rfc " style="color: red;">RFC es
                                    requerido.</small>
                                <small *ngIf="submitted && operadorForm.controls['rfc'].errors?.['pattern']"
                                    style="color: red;">El RFC no es válido.</small>

                            </div>
                            <div class="field">
                                <label for="curp">CURP</label>
                                <input type="text" pInputText id="curp" formControlName="curp"
                                    [(ngModel)]="editingOperador.curp" required pKeyFilter="alphanum" minlength="18"
                                    maxlength="18" />
                                <small *ngIf="submitted && !editingOperador.curp " style="color: red;">CURP es
                                    requerido.</small>
                            </div>
                        </div>
                        <!-- Segunda columna -->
                        <div class="p-col-6">
                            <div class="field">
                                <label for="nss">NSS</label>
                                <input type="text" pInputText id="nss" formControlName="nss"
                                    [(ngModel)]="editingOperador.nss" required />
                                <small *ngIf="submitted && !editingOperador.nss " style="color: red;">NSS es
                                    requerido.</small>
                            </div>
                            <div class="field">
                                <label for="direc">Dirección</label>
                                <textarea id="direc" formControlName="direccion" pInputTextarea
                                    [(ngModel)]="editingOperador.direccion" required rows="3" cols="20" minlength="10"
                                    maxlength="80"></textarea>
                                <small *ngIf="submitted && !editingOperador.direccion " style="color: red;">Dirección es
                                    requerido.</small>
                            </div>
                            <div class="field">
                                <label for="cpostal">Código postal</label>
                                <p-inputNumber id="cpostal" formControlName="codigoPostal"
                                    [(ngModel)]="editingOperador.codigoPostal" [minlength]="5" [maxlength]="5"
                                    [useGrouping]="false"></p-inputNumber>
                                <small *ngIf="submitted && !editingOperador.codigoPostal " style="color: red;">Código
                                    postal es
                                    requerido.</small>
                            </div>

                            <div class="field">
                                <label for="licencia">Licencia</label>
                                <input type="text" pInputText id="licencia" formControlName="licencia"
                                    [(ngModel)]="editingOperador.licencia" required pKeyFilter="alphanum" minlength="10"
                                    maxlength="11" />
                                <small *ngIf="submitted && !editingOperador.licencia " style="color: red;">Licencia es
                                    requerido.</small>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="updateDialog = false"></button>
                <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                    (click)="editOperadorConfirm()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>