<p-card title="Vertical Grid Form" header="Nuevo cliente" [style]="{ width: '600px', height: '400px' }" class="car">
  <form [formGroup]="clientForm" class="p-formgrid">
    <div class="p-field">
      <label for="nameClient">Nombre del cliente</label>
      <input type="text" formControlName="nombreCliente" pInputText id="nameClient" required />
      <div>
        <button (click)="registrarCliente()" type="button" pButton>Registrar</button>

      </div>
    </div>

    <p-toast position="top-center"></p-toast>
  </form>
</p-card>