<div class="menuSteps">
  <p-toast position="top-center"></p-toast>
  <p-steps [(activeIndex)]="activeIndex" [model]="items" [readonly]="true"></p-steps>
</div>

<p-card *ngIf="activeIndex === 0" title="Vertical Grid Form" header="Datos del cliente"
  [style]="{ width: '600px', height: '400px' }" class="car">
  <form [formGroup]="clientForm" class="p-formgrid">
    <div class="p-field">
      <label for="tipoVehiculo">Número de teléfono</label>
      <input type="text" pInputText pKeyFilter="int" id="tipoVehiculo" formControlName="numTelefono" required maxlength="10" minlength="10" />
    </div>
    <div class="p-field">
      <label for="marca">Seleccione el cliente</label>
      <p-dropdown optionValue="value" [options]="clientDropdown" formControlName="clienteTipo" placeholder="Seleccione">
      </p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Guardar" icon="pi pi-check" (click)="onClientInfoSubmit()"
      [disabled]="!clientForm.valid"></p-button>
  </ng-template>
</p-card>

<p-card *ngIf="activeIndex === 1" title="Vertical Grid Form" header="Datos del vehiculo"
  [style]="{ width: '900px', height: '400px' }" class="car">
  <form [formGroup]="vehicleForm" class="p-formgrid">
    <div class="p-field">
      <label for="tipoV">Tipo de vehiculo</label>
      <input type="text" pInputText id="tipoV" formControlName="tipoVehiculo" required />
    </div>
    <div class="p-field">
      <label for="marca">Marca</label>
      <p-dropdown [options]="marcas" [(ngModel)]="selectedMarca" (onChange)="filtrarModelosPorMarca()"
        placeholder="Selecciona una Marca" optionLabel="nombre" formControlName="marca">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="modelo">Modelo</label>
      <p-dropdown [options]="modelosFiltrados" [(ngModel)]="selectedModelo" placeholder="Selecciona un Modelo"
        optionLabel="nombre" formControlName="modelo">
      </p-dropdown>

    </div>
    <div class="p-field">

      <label for="placas">Placas</label>
      <input type="text" pInputText id="placas" formControlName="placas" required />
    </div>
    <div class="p-field">
      <label for="serie">Serie</label>
      <input type="email" pInputText id="serie" formControlName="serie" required />
    </div>
    <div class="p-field">
      <label for="color">Color</label>
      <input type="text" pInputText id="color" formControlName="color" />
    </div>
    <div class="p-field">
      <label for="ano">Año</label>
      <p-inputNumber id="ano" formControlName="ano" [maxlength]="4"
       [minlength]="4" [useGrouping]="false"></p-inputNumber>
    </div>
   
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Guardar" icon="pi pi-check" (onClick)="onVehicleInfoSubmit()"
      [disabled]="!vehicleForm.valid"></p-button>
    <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="onBackButtonClick()" styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>

<p-card *ngIf="activeIndex === 2" title="Vertical Grid Form" header="Datos del servicio"
  [style]="{ width: '900px', height: '430px' }" class="car">
  <form [formGroup]="servicioFom" class="p-formgrid">
    <div class="p-field">
      <label for="ubiSalida">Ubicación de salida</label>
      <input type="text" pInputText id="ubiSalida" formControlName="ubicacionSalida" required />
    </div>
    <div class="p-field">
      <label for="ubiContact">Ubicación de contacto</label>
      <input type="text" pInputText id="ubiContact" formControlName="ubicacionContacto" required />
    </div>
    <div class="p-field">
      <label for="ubiTermino">Ubicación de termino</label>
      <input type="text" pInputText id="ano" formControlName="ubicacionTermino" required />
    </div>
    <div class="p-field">
      <label for="monto">Monto cobrado</label>
      <input type="number" pInputText id="monto" formControlName="montoCobrado" required />
    </div>
    <div class="p-field">
      <label for="operador">Seleccione el operador</label>
      <p-dropdown optionValue="value" [options]="operadorDropdown" placeholder="Seleccione" formControlName="operador">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="grua">Seleccione la grua</label>
      <p-dropdown optionValue="value" [options]="gruaDropdown" formControlName="grua" placeholder="Seleccione">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="observaciones">Observaciones</label>
      <textarea id="observaciones" pInputTextarea formControlName="observaciones" rows="2" cols="50"></textarea>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button label="Guardar" icon="pi pi-check" (onClick)="onServiceInfoSubmit()"
      [disabled]="!servicioFom.valid"></p-button>
    <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="onBackButtonClick()" styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>


<p-card *ngIf="activeIndex === 3" title="Vertical Grid Form" header="Confirmación"
  [style]="{ width: '1080px', height: '700px' }" class="car">
  <div>
    <p>Revise y confirme la información ingresada:</p>
    <!-- Datos del cliente -->
    <h4>Datos del Cliente</h4>
    <ul>
      <li>Cliente: {{ clienteBuscado.nombreCliente }}</li>
      <li>Numero de telefono: {{cliente.numTelefono}}</li>
      <!-- Agrega más detalles del cliente según sea necesario -->
    </ul>

    <!-- Datos del vehículo -->
    <h4>Datos del Vehículo</h4>
    <ul>
      <li>Tipo de vehículo: {{ vehiculo.tipoVehiculo }}</li>
      <li>Marca: {{ vehiculo.marca.nombre }}</li>
      <li>Modelo: {{ vehiculo.modelo.nombre }}</li>
      <li>Serie: {{ vehiculo.serie }}</li>
      <li>Color: {{ vehiculo.color }}</li>
      <li>Año: {{ vehiculo.ano }}</li>


      <!-- Agrega más detalles del vehículo según sea necesario -->
    </ul>

    <!-- Datos del servicio -->
    <h4>Datos del Servicio</h4>
    <ul>
      <li>Ubicación de salida: {{ servicio.ubicacionSalida }}</li>
      <li>Ubicación de contacto: {{ servicio.ubicacionContacto }}</li>
      <li>Ubicación de termino: {{ servicio.ubicacionTermino }}</li>
      <li>Monto cobrado: {{ servicio.montoCobrado }}</li>
      <li>Operador: {{ operadorSeleccionado?.nombre }}</li>
      <li>Grua: {{ gruaSeleccionada?.noEco }}</li>
      <li>observaciones: {{ servicio.observaciones }}</li>

    </ul>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Confirmar" icon="pi pi-check" (click)="onConfirm()"></p-button>
    <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="onBackButtonClick()" styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>